/****** TAMAÑOS ********/
$size-xs: 0.3em;
$size-s: 0.7em;
$size-m: 1em;
$size-l: 1.5em;
$size-xl: 2rem;
$size-xxl: 3rem;

/******* COLORES *******/
$font: #40514e;
$light: #e4f9f5;
$mid: #30e3ca;
$dark: #11999e;
